WSBPELSOA/wsdl/WSSendMail.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.sendMail.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.sendMail.com/" name="WSSendMailService">
<types>
<xs:schema xmlns:tns="http://services.sendMail.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.sendMail.com/">
<xs:element name="Notifier" type="tns:Notifier"/>
<xs:element name="NotifierResponse" type="tns:NotifierResponse"/>
<xs:complexType name="Notifier">
<xs:sequence>
<xs:element name="idDemand" type="xs:int"/>
<xs:element name="Objet" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NotifierResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="Notifier">
<part name="parameters" element="tns:Notifier"/>
</message>
<message name="NotifierResponse">
<part name="parameters" element="tns:NotifierResponse"/>
</message>
<portType name="WSSendMail">
<operation name="Notifier">
<input wsam:Action="http://services.sendMail.com/WSSendMail/NotifierRequest" message="tns:Notifier"/>
<output wsam:Action="http://services.sendMail.com/WSSendMail/NotifierResponse" message="tns:NotifierResponse"/>
</operation>
</portType>
<binding name="WSSendMailPortBinding" type="tns:WSSendMail">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Notifier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSSendMailService">
<port name="WSSendMailPort" binding="tns:WSSendMailPortBinding">
<soap:address location="http://localhost:8188/services/"/>
</port>
</service>
</definitions>