WSBPELSOA/wsdl/WSValidation.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.validation.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.validation.com/" name="WSValidationService">
<types>
<xs:schema xmlns:tns="http://services.validation.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.validation.com/">
<xs:element name="Approuver" type="tns:Approuver"/>
<xs:element name="ApprouverResponse" type="tns:ApprouverResponse"/>
<xs:element name="valider" type="tns:valider"/>
<xs:element name="validerResponse" type="tns:validerResponse"/>
<xs:complexType name="Approuver">
<xs:sequence>
<xs:element name="identifiant" type="xs:int"/>
<xs:element name="statut" type="xs:boolean"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ApprouverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="valider">
<xs:sequence>
<xs:element name="identifiant" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="validerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="valider">
<part name="parameters" element="tns:valider"/>
</message>
<message name="validerResponse">
<part name="parameters" element="tns:validerResponse"/>
</message>
<message name="Approuver">
<part name="parameters" element="tns:Approuver"/>
</message>
<message name="ApprouverResponse">
<part name="parameters" element="tns:ApprouverResponse"/>
</message>
<portType name="WSValidation">
<operation name="valider">
<input wsam:Action="http://services.validation.com/WSValidation/validerRequest" message="tns:valider"/>
<output wsam:Action="http://services.validation.com/WSValidation/validerResponse" message="tns:validerResponse"/>
</operation>
<operation name="Approuver">
<input wsam:Action="http://services.validation.com/WSValidation/ApprouverRequest" message="tns:Approuver"/>
<output wsam:Action="http://services.validation.com/WSValidation/ApprouverResponse" message="tns:ApprouverResponse"/>
</operation>
</portType>
<binding name="WSValidationPortBinding" type="tns:WSValidation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="valider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Approuver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSValidationService">
<port name="WSValidationPort" binding="tns:WSValidationPortBinding">
<soap:address location="http://localhost:8187/services/"/>
</port>
</service>
</definitions>